body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

#start-btn {
    padding: 8px 18px;
    margin: 30px 0 5px 0;
    background-color: rgb(206, 230, 206);
    border-color: rgb(206, 230, 206);
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
}

#login-btn {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    font-size: 15px;
}

.back-btn {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: auto !important;          /* 뒤로 가기 버튼, 가로 전체 차지하지 않음 */
  padding: 8px 16px;
  background: #888;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 9999;
}

#start-btn:hover {
    background-color: aliceblue;
    border-color: aliceblue;
}

#login-btn:hover {
    color:rgb(159, 159, 159);
}

.back-btn:hover {
  background: #666;
}

h1 {
    font-size: 60px;
    padding: 0;
    margin: 0;
}

p {
    font-size: 20px;
    margin-top: 5px;
    padding: 0px;
}

#image {
    width: 400px;
    height: 400px;
    object-fit: contain;
}
