body { 
    font-family: sans-serif;
    margin: 40px;
}

.register-card {
    max-width: 400px;
    margin: 150px auto;
    padding: 40px 60px;
    border: 1px solid #ddd;
    background-color: rgb(230, 206, 216);
    position: relative;
}

p {
    font-size: 35px;
    font-weight: 1000;
    color: white;
    text-shadow:
        -1px -1px 2px #757575,
         1px -1px 2px #757575,
        -1px  1px 2px #757575,
         1px  1px 2px #757575;
    margin-bottom: 50px;
    font-family: "Momo Trust Display", sans-serif;
    font-style: normal;
    letter-spacing: 5px;
}

#deco {
    color: white;
    font-size: 23px;
    font-weight: 1000;   
    letter-spacing: 6px;
    padding: 0;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-style: normal;
    text-shadow: none;
}

#back {
    position: absolute;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    top: 5px;
    right: 30px;
    font-size: 55px;
    color: white;
    font-weight: 100;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #757575;
    background-color: #757575;
    color: white;
}

.id, .pw {
    margin: 30px 0;
    padding: auto;

}

label {
    font-size: 20px;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 1000;
    font-style: normal;
    letter-spacing: 5px;
}

#register-btn {
    width: auto;
    padding: 10px 20px;
    margin: 0px 0px 20px;
    background: white;
    color: #484848;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

#register-btn:hover {
    background: #757575;
    color: white;
}

#login {
    text-decoration: none;
    color:#484848;
    font-weight: 500;
    font-size: 15px;
}

#login:hover {
    color: rgb(159, 159, 159);
}
