<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Gugi&family=Momo+Trust+Display&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <title>login</title>
  </head>
  <body>
    <div class="login-card">
      <p>LogIn<span id="deco"> • * • * • * • * • * •</span></p>
      <a id="back" href="{{ url_for('index') }}">x</a>
      <form method="POST" action="{{ url_for('login') }}">
        <div class="id">
          <label for="user_id">iD</label>
          <input type="text" id="user_id" name="user_id" required>
        </div>
        <div class="pw">
          <label for="password">pAsswOrd</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button id="login-btn" type="submit">로그인</button>
      </form>
      <a id="register" href="{{ url_for('register') }}">회원가입</a>
    </div>
</body>
</html>
